<h2><%= @publication.title %></h2>
<p><%= @publication.content %></p>
<p><%= @publication.user.username %></p>
<% if policy(@publication).edit? %>
  <%= link_to edit_publication_path(@publication) do %>
    <i class="fas fa-edit"></i>
  <% end %>
	<% end %>
	<% if policy(@publication).destroy? %>
  <%= link_to publication_path(@publication), method: :delete do %>
    <i class="far fa-trash-alt"></i>
  <% end %>
<% end %>

<% @comments.each do |comment| %>
	<p><%= comment.user.username %>, <%= comment.created_at %> </p>
	<p><%= comment.content %></p>
  	<% if policy(comment).destroy? %>
      <%= link_to comment_path(comment), method: :delete do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
  	<% end %>

<% end %>


<%= simple_form_for [ @publication, @comment ] do |f| %>
  <%= f.input :content, label: "Ajouter un commentaire" %>
  <%= f.submit "Publier" %>
<% end %>
