<div class="container pt-4">

	<div class="bodypostshow">
		<div class="cardpostshow">

			<div class="card-post post-show">
				<div class="posthead">
					<%= link_to user_path(@publication.user) do  %>
					<div class="user-data">
						<div><%= cl_image_tag @publication.user.profile_picture, class: "avatar-large" %></div>
						<div class="username"><%= @publication.user.username %></div>
					</div>
					<% end %>
					<span>
						<span class="comcreation"><%= @publication.created_at.strftime("%d/%m/%Y à %H:%M") %></span>
						<span><% if policy(@publication).destroy? %><%= link_to edit_publication_path(@publication) do %><i class="far fa-edit edit"></i><% end %><% end %></span>
						<span><% if policy(@publication).destroy? %><%= link_to publication_path(@publication), method: :delete do %><i class="far fa-trash-alt delete"></i><% end %><% end %></span>
					</span>
				</div>
				<div class="description">
					<span class="showdesc"><%= @publication.content %></span>
				</div>
			</div>

			<!-- <div class="card-post-show mt-1">
				<div class="postavatar"><%= cl_image_tag current_user.profile_picture, class: "avatar-large" %></div>
				<div class="content">
					<div class="username"><%= @publication.user.username %></div>
					<div class="description"><%= @publication.content %></div>
				</div>
			</div> -->
		</div>

		<div class="cardpostcoms">
			<div class="commentcontainer">
				<% if @comments.count == 0 %>
					<div class="pitimsg"> Soyez le premier à commenter la publication de <%= @publication.user.username %></div>
				<% else %>
					<% @comments.each_with_index do |comment, index| %>
							<div class="comment">
								<%= link_to user_path(comment.user) do  %>
									<div><%= cl_image_tag comment.user.profile_picture, class: "avatar-large" %></div>
								<% end %>
									<div class="combox">
									<div class="comusername">
										<span>
											<%= link_to user_path(comment.user) do  %>
												<%= comment.user.username %>
											<% end %>
										</span>
										<span>
											<span class="comcreation"><%= comment.created_at.strftime("%d/%m/%Y à %H:%M") %></span>
											<span><% if policy(comment).destroy? %><%= link_to comment_path(comment), method: :delete do %><i class="far fa-trash-alt"></i><% end %><% end %></span>
										</span>
									</div>
									<div class="comtext"> <%= comment.content %> </div>
								</div>
							</div>
					<% end %>
				<% end %>
			</div>

			<%= simple_form_for [ @publication, @comment ] do |f| %>
				<%= f.input :content, label: false, :placeholder => 'Commentez' %>
				<%= f.submit "Publier", id: "submitnewcoms" %>
			<% end %>
		</div>
	</div>

</div>
