<div class="container">

	<div class="card-post mt-4">
		<div class="text-center mb-4">
		<div class="user-data">
			<%= cl_image_tag current_user.profile_picture, class: "avatar-large" %>
			<div class="username"><%= @publication.user.username %></div>
		</div>
		<div class="description">
			<%= @publication.content %>
		</div>
		<% if policy(@publication).edit? %>
			<%= link_to edit_publication_path(@publication) do %>
				<i class="fas fa-edit"></i>
			<% end %>
		<% elsif policy(@publication).destroy? %>
			<%= link_to publication_path(@publication), method: :delete do %>
			<i class="far fa-trash-alt"></i>
			<% end %>
		<% end %>
		</div>
	</div>

	<% @comments.each do |comment| %>
		<div class="comment">
			<div><%= cl_image_tag current_user.profile_picture, class: "avatar-large" %></div>
				<div class="combox">
				<div class="comusername">
					<span><%= comment.user.username %></span>
					<span>
						<span class="comcreation"><%= comment.created_at %></span>
						<span><% if policy(comment).destroy? %><%= link_to comment_path(comment), method: :delete do %><i class="far fa-trash-alt"></i><% end %><% end %></span>
					</span>
				</div>
				<div class="comtxt"> <%= comment.content %> </div>
			</div>
		</div>
	<% end %>

	<%= simple_form_for [ @publication, @comment ] do |f| %>
		<%= f.input :content, label: false, :placeholder => 'Racontez votre histoire !' %>
		<%= f.submit "Publier", id: "submitnewcoms" %>
	<% end %>


</div>