<div class="container pt-4">

	<div class="bodypostshow">
		<div class="cardpostshow">

			<div class="card-post">
				<div class="posthead">
					<div class="user-data">
						<div><%= cl_image_tag @publication.user.profile_picture, class: "avatar-large" %></div> 
						<div class="username"><%= @publication.user.username %></div>
					</div>
					<span>
						<span class="comcreation"><%= @publication.created_at %></span>
						<span><% if policy(@publication).destroy? %><%= link_to edit_publication_path(@publication) do %><i class="far fa-edit edit"></i><% end %><% end %></span>
						<span><% if policy(@publication).destroy? %><%= link_to publication_path(@publication), method: :delete do %><i class="far fa-trash-alt delete"></i><% end %><% end %></span>
					</span>
				</div>
				<div class="description">
				<%= @publication.content.truncate(300, separator: ' ') %>
				</div>
			</div>

			<!-- <div class="card-post-show mt-1">
				<div class="postavatar"><%= cl_image_tag current_user.profile_picture, class: "avatar-large" %></div>
				<div class="content">
					<div class="username"><%= @publication.user.username %></div>
					<div class="description"><%= @publication.content %></div>
				</div>
			</div> -->
		</div>







		<div class="cardpostcoms">
			<div class="commentcontainer">
			<% @comments.each_with_index do |comment, index| %>
					<div class="comment">
						<div><%= cl_image_tag current_user.profile_picture, class: "avatar-large" %></div>
							<div class="combox">
							<div class="comusername">
								<span><%= comment.user.username %></span>
								<span>
									<span class="comcreation"><%= comment.created_at %></span>
									<span><% if policy(comment).destroy? %><%= link_to comment_path(comment), method: :delete do %><i class="far fa-trash-alt"></i><% end %><% end %></span>
								</span>
							</div>
							<div class="comtext"> <%= comment.content %> </div>
						</div>
					</div>
			<% end %>
			</div>

			<%= simple_form_for [ @publication, @comment ] do |f| %>
				<%= f.input :content, label: false, :placeholder => 'Commentez' %>
				<%= f.submit "Publier", id: "submitnewcoms" %>
			<% end %>
		</div>
	</div>

</div>