
<% if current_user == nil %>
  <div class="pl-4 ml-4">
    <div class="row d-flex justify-content-between align-items-start container-home-top">
      <div class="col-8 présentation">
        <div class="d-flex justify-content-left align-items-center my-4">
          <%= image_tag "logo.png", alt: "alttext", width: 50, class: "mr-2" %>
          <h1> #BalanceTonVoisin </h1>
        </div>
        <p> Dans le contexte du Covid19, le business de la délation est en plein boom! Ton voisin ne respecte pas le couvre-feu? Ton chat ne porte pas de masque? Dénonce et reçoit des récompenses appropriées! </p>
        <div class="card-clash-focus">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <%= cl_image_tag User.first.profile_picture, class: " avatar users-avatar user1-avatar"%>
              <div class="text-success">
                <p> 128 soutiens <i class="far fa-thumbs-up"></i></p>
              </div>
            </div>
              <h2> Dewey </h2>
              <h1>⚡️</h1>
              <h2> Dewey </h2>
            <div>
              <%= cl_image_tag User.first.profile_picture, class: " avatar users-avatar user2-avatar"%>
              <div class="text-danger">
                <p> 128 soutiens <i class="far fa-thumbs-up"></i></p>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="mr-2">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque mi nulla quam nam ut risus, commodo fringilla.</p>
            </div>
            <div class="ml-2">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Neque mi nulla quam nam ut risus, commodo fringilla.</p>
            </div>
          </div>
          <div class="d-flex justify-content-end pt-3 mt-3 text-secondary">
            <p>voir commentaires ></p>
          </div>
        </div>
      </div>
      <div class="col-4 pt-4">
        <%= render "devise/shared/login" %>
      </div>
    </div>


  <div class="row pt-4">
    <div class="col-12 pb-3 mt-3 ml-0 pl-0">
      <div class="d-flex justify-content-left align-items-center">
        <div class="ml-3"><h2> Balance ton Voisin c'est</h2></div>
      </div>
      <div class="row cards-stat">
        <div class="col-3 list-unstyled">
          <div class="card-stat-home d-flex flex-column justify-content-center align-items-center mb-4">
            <i class="fas fa-user-lock"></i>
            <li> 350 voisins incarcérés </li>
          </div>
          <div class="card-stat-home d-flex flex-column justify-content-center align-items-center mb-4">
            <i class="fas fa-paw"></i>
            <li> 150 pangolins sauvés </li>
          </div>
          <div class="card-stat-home d-flex flex-column justify-content-center align-items-center mb-4">
            <i class="fas fa-cookie-bite"></i>
            <li> 30 000 chocolatines </li>
          </div>
        </div>
        <div class="col-3 list-unstyled">
          <div class="card-stat-home d-flex flex-column justify-content-center align-items-center mb-4">
            <i class="fas fa-virus"></i>
            <li> 250 virus réduits à neant </li>
          </div>
          <div class="card-stat-home d-flex flex-column justify-content-center align-items-center mb-4">
            <i class="fas fa-tree"></i>
            <li> 1 arbre planté </li>
          </div>
          <div class="card-stat-home d-flex flex-column justify-content-center align-items-center mb-4">
            <i class="fas fa-user"></i>
            <li> 42 français abonnés </li>
          </div>
        </div>
        <div class="col-3 list-unstyled">
          <div class="card-stat-home d-flex flex-column justify-content-center align-items-center mb-4">
            <i class="fas fa-virus"></i>
            <li> 250 virus réduits à neant </li>
          </div>
          <div class="card-stat-home d-flex flex-column justify-content-center align-items-center mb-4">
            <i class="fas fa-tree"></i>
            <li> 1 arbre planté </li>
          </div>
          <div class="card-stat-home d-flex flex-column justify-content-center align-items-center mb-4">
            <i class="fas fa-user"></i>
            <li> 42 français abonnés </li>
          </div>
        </div>
         <div class="col-3 list-unstyled">
          <div class="card-stat-home d-flex flex-column justify-content-center align-items-center mb-4">
            <i class="fas fa-virus"></i>
            <li> 250 virus réduits à neant </li>
          </div>
          <div class="card-stat-home d-flex flex-column justify-content-center align-items-center mb-4">
            <i class="fas fa-tree"></i>
            <li> 1 arbre planté </li>
          </div>
          <div class="card-stat-home d-flex flex-column justify-content-center align-items-center mb-4">
            <i class="fas fa-user"></i>
            <li> 42 français abonnés </li>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<% else  %>


















<div class="container mt-5">

    <%= simple_form_for @publication, html: {class: 'form-inline text-area-container'} do |f| %>
      <%= f.input :content, label: false, placeholder: "Un problème avec ton voisin ?", input_html: { class: "post-input" }, wrapper_html: { class: "text-area-wrapper"} %>
      <%= f.submit "Dénonce !", class: "btn btn-flat text-area-button" %>
    <% end %>

  <h2 class="my-4">Les plaintes les plus chaudes de ta région</h2>
  <div class="cards">
      <% @publications.reverse.first(3).each do |publication| %>
        <%= link_to publication_path(publication) do %>
          <div class="card-home">
            <div class="user-data">
              <%= cl_image_tag publication.user.profile_picture, class: "avatar-large" %>
              <div class="username"><%= publication.user.username %>
              </div>
            </div>
            <div class="description">
            <%= publication.content.truncate(100, separator: ' ') %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <%= link_to publications_path do %>
    <div class="d-flex justify-content-end mt-3">
      <p class="btn btn-ghost">Découvrir plus de plaintes <i class="far fa-arrow-alt-circle-right"></i> </p>
    </div>
    <% end %>
  </div>
























<% end  %>

