
<% if current_user == nil %>
  <div class="container">
    <div class="row d-flex justify-content-between align-items-start container-home-top">
      <div class="col-8 présentation">
        <div class="d-flex justify-content-left align-items-center my-4">
          <%= image_tag "logo.png", alt: "alttext", width: 50, class: "mr-2" %>
          <h2 class="mt-2 ml-2"> Dénoncer c'est Gagner </h2>
        </div>
        <p> Dans le contexte du Covid19, le business de la délation est en plein boom ! Ton voisin ne respecte pas le couvre-feu ? Ton chat ne porte pas de masque ? Dénonce et reçoit des récompenses appropriées ! </p>
        <div class="card-clash-focus">
          <div class="users-description">
            <div class="user-description">
              <%= image_tag "flanders.png", class: "border avatar users-avatar user1-avatar"%>
              <div class="text-danger">
                <p> 85 soutiens <i class="far fa-thumbs-up"></i></p>
              </div>
            </div>
              <h2>Flanders</h2>
              <h2>⚡️</h2>
              <h2>  Homer </h2>
            <div class="user-description">
              <%= image_tag "homer.png", class: "border avatar users-avatar user2-avatar"%>
              <div class="text-success">
                <p> 128 soutiens <i class="far fa-thumbs-up"></i></p>
              </div>
            </div>
          </div>
          <div class="users-clash-content">
            <div>
              <p>Sali Salut. Ouvrez les yeux! Cet homme n'est pas un héros, c'est une calamité, une catastrophe ambulante !</p>
            </div>
            <div class="ml-4">
              <p>Do'h!. Espèce de sale petit voisin! Cette tondeuse m'appartient, je te l'ai empruntée depuis deux heures</p>
            </div>
          </div>
          <div class="d-flex justify-content-end text-secondary">
            <p>voir commentaires ></p>
          </div>
        </div>
      </div>
      <div class="col-4 pt-4">
        <%= render "devise/shared/login" %>
      </div>
    </div>


    <div class="row pt-4">
      <div class="col-12 pb-3 mt-3 ml-0 pl-0">
        <div class="d-flex justify-content-left align-items-center">
          <div class="ml-3 mb-3"><h2> Beaucoup ont déjà gagné !</h2></div>
        </div>
        <div class="row cards-stat">
          <div class="col-3 list-unstyled">
            <div data-toggle="modal" data-target="#voisinModal">
              <div class="card-stat-home d-flex flex-column justify-content-center align-items-center mb-4">
                <i class="fas fa-user-lock"></i>
                <li> 350 voisins incarcérés </li>
              </div>
            </div>
            <div data-toggle="modal" data-target="#pangolinModal">
              <div class="card-stat-home d-flex flex-column justify-content-center align-items-center mb-4">
                <i class="fas fa-paw"></i>
                <li> 150 pangolins sauvés </li>
              </div>
            </div>
            <div data-toggle="modal" data-target="#chocoModal">
              <div class="card-stat-home d-flex flex-column justify-content-center align-items-center mb-4">
                <i class="fas fa-cookie-bite"></i>
                <li> 30 000 chocolatines </li>
              </div>
            </div>
          </div>
          <div class="col-3 list-unstyled">
              <div data-toggle="modal" data-target="#simpsonModal">
                <div class="card-stat-home d-flex flex-column justify-content-center align-items-center mb-4">
                  <i class="fas fa-infinity"></i>
                  <li> 75 saisons des Simpsons </li>
                </div>
              </div>
            <div data-toggle="modal" data-target="#treeModal">
              <div class="card-stat-home d-flex flex-column justify-content-center align-items-center mb-4">
                <i class="fas fa-tree"></i>
                <li> 1 arbre planté </li>
              </div>
            </div>
            <div data-toggle="modal" data-target="#françaisModal">
                <div class="card-stat-home d-flex flex-column justify-content-center align-items-center mb-4">
                  <i class="fas fa-user"></i>
                  <li> 42 français abonnés </li>
                </div>
            </div>
          </div>
          <div class="col-3 list-unstyled">
            <div data-toggle="modal" data-target="#planeteModal">
              <div class="card-stat-home d-flex flex-column justify-content-center align-items-center mb-4">
                <i class="fas fa-globe-europe"></i>
                <li> 33 planètes sauvées </li>
              </div>
            </div>
            <div data-toggle="modal" data-target="#mortyModal">
              <div class="card-stat-home d-flex flex-column justify-content-center align-items-center mb-4">
                <i class="fas fa-baby"></i>
                <li> 3000 Morty </li>
              </div>
            </div>
            <div data-toggle="modal" data-target="#rickModal">
              <div class="card-stat-home d-flex flex-column justify-content-center align-items-center mb-4">
                <i class="fas fa-space-shuttle"></i>
                <li> 1 Rick </li>
              </div>
            </div>
          </div>
          <div class="col-3 list-unstyled">
            <div data-toggle="modal" data-target="#virusModal">
              <div class="card-stat-home d-flex flex-column justify-content-center align-items-center mb-4">
                <i class="fas fa-virus"></i>
                <li> 250 virus réduits à neant </li>
              </div>
            </div>
            <div data-toggle="modal" data-target="#chronoModal">
              <div class="card-stat-home d-flex flex-column justify-content-center align-items-center mb-4">
                <i class="fas fa-clock"></i>
                <li> 25 délations par seconde </li>
              </div>
            </div>
            <div data-toggle="modal" data-target="#kebabModal">
              <div class="card-stat-home d-flex flex-column justify-content-center align-items-center mb-4">
                <i class="fas fa-hamburger"></i>
                <li> 3 kebabs complets </li>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<div class="modal fade" id="françaisModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog m-0" role="document">
      <div class="modal-body-card-francais">
        <img src="https://media.giphy.com/media/hTruzAjXFLEiTNBbwx/giphy.gif" alt="">
      </div>
  </div>
</div>

<div class="modal fade" id="mortyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog m-0" role="document">
      <div class="modal-body-card-morty mt-5">
        <img src="https://media.giphy.com/media/UT4hp57YOiIsszHHJJ/giphy.gif" alt="GIF" class="pt-5 mt-5">
      </div>
  </div>
</div>

<div class="modal fade" id="rickModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog m-0" role="document">
      <div class="modal-body-card-rick mt-5">
        <img src="https://media.giphy.com/media/j3zmp5Et9kd4a7a6hM/giphy.gif" alt="GIF" class="pt-5 mt-5">
      </div>
  </div>
</div>

<div class="modal fade" id="treeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog m-0" role="document">
      <div class="modal-body-card-tree mt-5">
        <img src="https://media.giphy.com/media/IyZM6HFe2zgrK/giphy.gif" alt="GIF" class="pt-5 mt-5" width="400">
      </div>
  </div>
</div>

<div class="modal fade" id="simpsonModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog m-0" role="document">
      <div class="modal-body-card-simpson mt-5">
        <img src="https://media.giphy.com/media/jUwpNzg9IcyrK/giphy.gif" alt="GIF" class="pt-5 mt-5" width="600">
      </div>
  </div>
</div>

<div class="modal fade" id="chocoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog m-0" role="document">
      <div class="modal-body-card-choco mt-5">
        <img src="https://media.giphy.com/media/2FayVt8vlgu80kHD2/giphy.gif" alt="GIF" class="pt-5 mt-5" width="400">
      </div>
  </div>
</div>

<div class="modal fade" id="virusModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog m-0" role="document">
      <div class="modal-body-card-virus mt-5">
        <img src="https://media.giphy.com/media/jS7xWSTrDSzzr6jmgN/giphy.gif" alt="GIF" class="pt-5 mt-5" width="600">
      </div>
  </div>
</div>
<div class="modal fade" id="chronoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog m-0" role="document">
      <div class="modal-body-card-chrono mt-5">
        <img src="https://media.giphy.com/media/RVpcIhl5VwLK6jWbYc/giphy.gif" alt="GIF" class="pt-5 mt-5" width="500">
      </div>
  </div>
</div>
<div class="modal fade" id="kebabModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog m-0" role="document">
      <div class="modal-body-card-kebab mt-5">
        <img src="https://media.giphy.com/media/BLEHfyIquco9cmR19Y/giphy.gif" alt="GIF" class="pt-5 mt-5" width="500">
      </div>
  </div>
</div>
<div class="modal fade" id="pangolinModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog m-0" role="document">
      <div class="modal-body-card-pangolin mt-5">
        <img src="https://media.giphy.com/media/g6EfLNSHKi3GYbzitl/giphy.gif" alt="GIF" class="pt-5 mt-5" width="600">
      </div>
  </div>
</div>

<div class="modal fade" id="voisinModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog m-0" role="document">
      <div class="modal-body-card-voisin mt-5">
        <img src="https://media.giphy.com/media/unzR48isp6cCY/giphy.gif" alt="GIF" class="pt-5 mt-5" width="600">
      </div>
  </div>
</div>
<div class="modal fade" id="planeteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog m-0" role="document">
      <div class="modal-body-card-voisin mt-5">
        <img src="https://media.giphy.com/media/SFp9RLto964Ew/giphy.gif" alt="GIF" class="pt-5 mt-5" width="600">
      </div>
  </div>
</div>



<% else  %>


<div class="container mt-5" data-toggle="modal" data-target="#inputModal">
  <div class="form-inline text-area-container">
    <p class="text-secondary mt-3"> Un problème avec ton voisin ?</p>
    <button type="button" class="btn btn-flat text-area-button mb-2">
      Dénonce !
    </button>
  </div>
</div>

<div class="container mb-3">
  <h2 class="mt-5"><strong>Nos Supers Clashs 🤩</strong></h2>
  <div class="cards">
    <% @clashs.reverse.first(3).each do |clash| %>
      <%= link_to publication_path(clash.clash_request.publication) do %>
        <div class="card-clash">
          <div class="users-avatar">
            <div class="user1-avatar"><%= cl_image_tag clash.clash_request.publication.user.profile_picture, class: "avatar-large-clash" %></div>
            <div class="user2-avatar"><%= cl_image_tag clash.clash_request.user.profile_picture, class: "avatar-large-clash" %></div>
          </div>
          <div class="content-card-clash">
            <div class="usernames mt-3 row">
              <div class="col-5 d-flex justify-content-end"><%=clash.clash_request.publication.user.username%></div>
              <div class="col-2">⚡️</div>
              <div class="col-5 d-flex justify-content-start"> <%=clash.clash_request.user.username%></div>
            </div>

            <div class="countdown d-flex justify-content-center"><p class="text-secondary">Fin du Clash: <%= clash.countdown_end.strftime("%d/%m/%Y") %></p></div>
            <div class="d-flex justify-content-around row">
              <div class="content1 col-6 "><%=clash.clash_request.publication.content.truncate(70, separator: ' ')%></div>
              <div class="content2 col-6"><%=clash.clash_request.content.truncate(70, separator: ' ')%></div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


<div class="container my-5">
  <h2 class="my-4"><strong>Les plaintes les plus chaudes de ta région 🤯</strong></h2>
  <div class="cards">
      <% @hotpublications.reverse.first(3).each do |publication| %>
        <%= link_to publication_path(publication) do %>
          <div class="card-home">
            <div class="user-data">
                <%= cl_image_tag publication.user.profile_picture, class: "avatar-large" %>
              <% if publication.user == current_user %>
                <div class="username text-secondary"><%= publication.user.username %></div>
              <% else %>
                <div class="username"><%= publication.user.username %></div>
              <% end %>
            </div>
            <div class="description">
            <%= publication.content.truncate(100, separator: ' ') %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

</div>

  <%= link_to publications_path do %>
    <div class="d-flex justify-content-end mt-3">
      <p class="btn btn-ghost mr-3">Découvrir plus de plaintes <i class="far fa-arrow-alt-circle-right"></i> </p>
    </div>
    <% end %>






  <div class="modal fade" id="inputModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-left: 250px">
      <div class="modal-content">
        <div class="modal-body">
          <%= simple_form_for @publication, html: {class: 'form-inline text-area-container-pop-up'} do |f| %>
            <%= f.input :content, label: false, placeholder: "Un problème avec ton voisin ?", input_html: { class: "post-input-pop-up" }, wrapper_html: { class: "text-area-wrapper"} %>
            <%= f.submit "Dénonce !", class: "btn btn-flat text-area-button-pop-up ml-3" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<% end  %>









