<!DOCTYPE html>
<html>
  <head>
    <title>BalanceTonVoisin - Premier site de délation entre voisin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('logo.png') %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <meta property="og:url" content="http://www.balancetonvoisin.fun" />
    <meta property="og:title" content="Balancetonvoisin - Délation de copropriété" />
    <meta property="og:description" content="Dans le contexte du Covid19, le business de la délation est en plein boom ! Ton voisin ne respecte pas le couvre-feu ? Ton chat ne porte pas de masque ? Dénonce et reçoit des récompenses appropriées !" />
    <meta property="og:image" content=<%= image_url "delation.png" %> />
    <meta property="og:type" content="website" />

  </head>



  <body style="background-color:rgba(250, 250, 250, 1);">
    <%= render 'shared/navbar' unless @disable_nav%>

    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
